body {
  font-size: 16px;
  line-height: 1.5;
}

html{
  background:gray;
}

header .navbar {
  border-radius: 0;
  margin: 0;
}

main {
  min-height: 500px;
  padding: 50px 0;
  background: gray;
}

thead.thead-dark {
  background: black;
  color: aliceblue;
}

/* pagina sobre  */
.sobre {
background: aliceblue;
border-radius: 10px;
}


/* tabela */
table{
  margin-top: 10px;
  border-radius: 8px;
}
tbody{
  background: aliceblue;
  border: solid 1px black;
}

.titleUsuario{
color: aliceblue;
text-align: left;
}

/* page home */
.titleHome{
color: snow;
}


/* formulario Usuario */
.formUsuario{
  background:saddlebrown;
  padding: 10px;
  border-radius: 10px;
  padding: 10px;
}

.formUsuario label{
color: aliceblue;
}

.titleUsuario{
  color:white;
}

.btn-primary.active{
  cursor: pointer;
}