body {
  font-size: 16px;
  line-height: 1.5;
}

html{
  background:brown;
}

header .navbar {
  border-radius: 0;
  margin: 0;
}

main {
  min-height: 500px;
  padding: 50px 0;
  background:brown;
}

thead.thead-dark {
  background: black;
  color: aliceblue;
}

.sobre {
background: aliceblue;
border-radius: 10px;
}


/* tabela */
tbody{
  background: aliceblue;
  border: solid 1px black;
}

.titleUsuario{
color: aliceblue;
}