

<!-- Formulario de Cadastro -->
  <form class="formUsuario">
    <h2 class="titleUsuario">Cadastro de Usuário</h2>

      <div class="form-group">
        <label for="name">Nome : </label>
        <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Digite o nome completo">
      </div>
      <div class="form-group">
        <label for="telefone">Telefone : </label>
        <input type="number" class="form-control" id="telefone" placeholder="Digite o telefone">
      </div>
      <div class="form-group ">
        <label for="city">Cidade</label>
        <input type="text" class="form-control" id="city" placeholder="Digite a cidade">
      </div>
      <div class="form-group">
        <label for="country">País : </label>
        <input type="text" class="form-control" id="country" placeholder="Digite o país">
      </div>
      <div class="form-group ">
        <label for="zipCode">Cep : </label>
        <input type="number" class="form-control" id="zipCode" placeholder="Digite o cep">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
      <button type="reset" class="btn btn-primary btn-lg">Limpar</button>
  </form>


